<%- include('../layout/header.ejs',{title:"Setting"}) %>
    <div class="container-fluid justify-content-center m-2 position-relative">
        <div class="row justify-content-center align-item-center  d-flex ">

            <div class="row justify-content-center">
                <img src="<%=account.image%>" alt="" class=" border rounded mb-3 "
                    style="width: 200px; height: 200px;   ">
                <div class="row justify-content-center">
                    <button data-bs-toggle="modal" data-bs-target="#modelUpdate" class="btn btn-primary col-2">Chỉnh sửa hồ sơ
                    </button>
                </div>
                <div style="width: 400px; text-align: start;" class="form-control mt-3 mb-3 ms-2 ">
                    Fullname: <%= account.fullname %>
                </div>
                <div style="width: 400px; text-align: start;" class="form-control mt-3 mb-3 ms-2 ">
                    Username: <%= account.username %>
                </div>
                <div style="width: 400px; text-align: start;" class="form-control mt-3 mb-3 ms-2 ">
                    Email: <%= email%>
                </div>
                <div style="width: 400px; text-align: start;" class="form-control mt-3 mb-3 ms-2 ">
                    Role: <%= account.role.name %>
                </div>
            </div>

        </div>
        <div class="modal fade" id="modelUpdate" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
            aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="staticBackdropLabel">Chỉnh sửa hồ sơ</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="row form-control  m-1 p-2">
                            <form action="" method="post" enctype="multipart/form-data">
                                <div class="modal-body justify-content-center ">
                                    <div class="row justify-content-center">
                                        <img src="<%=account.image%>" alt="" id="image" class=" rounded m-3"
                                        style="width: 150px; height: 150px;">
                                    </div>
                                    
                                    <div class="m-3">
                                        <span>Username</span>
                                        <input class="form-control" type="text" placeholder="Username " disabled
                                            name="username" value="<%= account.username%>"
                                            aria-label="default input example">
                                        <span style="color: red;"></span>
                                    </div>
                                    <div class="m-3">
                                        <span>Password</span>
                                        <input class="form-control" type="text" placeholder="Nhập mật khẩu mới "
                                            name="passwd" value="" aria-label="default input example">
                                        <span style="color: red;"></span>
                                    </div>
                                    <div class="m-3">
                                        <span>Fullname</span>
                                        <input class="form-control" type="text" placeholder="Fullname" name="fullname"
                                            value="<%= account.fullname%>" aria-label="default input example">
                                        <span style="color: red;"></span>
                                    </div>
                                    <div class="m-3">
                                        <span>Email</span>
                                        <input class="form-control" type="email" placeholder="Email" name="email"
                                            value="<%= account.email%>" aria-label="default input example">
                                        <span style="color: red;"></span>
                                    </div>
                                    <div class="mb-3">
                                        <label for="formFile" class="form-label">Tải ảnh lên</label>
                                        <input class="form-control" onchange="changeImag()" name="image" type="file"
                                            id="formFile">
                                    </div>

                                </div>
                                <div class=" col-12 justify-content-center d-flex">
                                    <button type="submit" class="btn btn-outline-primary">Cập nhật</button>
                                </div>
                            </form>
                        </div>
                        <script>
                            const file = document.getElementById("formFile");
                            const avata = document.getElementById('image')
                            const changeImag = () => {
                                console.log(file.value);
                                let image = file.files[0];
                                const reader = new FileReader();
                                // Đọc tệp và chuyển đổi thành base64
                                reader.readAsDataURL(image);
                                reader.onload = () => {
                                    const base64String = reader.result; // Lấy phần base64 từ chuỗi đọc được
                                    avata.src = base64String;
                                    console.log(image);
                                    console.log(base64String);
                                    // In ra chuỗi base64 của tệp

                                };
                            }
                        </script>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center ">
            <a href="/setting/logout"
                class=" btn btn-outline-danger m-2 col-2 justify-content-center align-item-center">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                    class="bi bi-box-arrow-right me-2" viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                        d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0v2z" />
                    <path fill-rule="evenodd"
                        d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z" />
                </svg>Đăng xuất</a>
        </div>


    </div>
    <%- include('../layout/footer.ejs') %>